[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"

[packages]
tornado = "*"
pymongo = "*"
motor = "*"
GraphQL-core-next = "*"

[requires]
python_version = "3.6"
