# URL prefix
app_prefix = 'maverick-api/'

# Secret Key - used to set secure cookie.  KEEP SECRET
app_secretkey = 'super_s3cret'

# Database backend - used to select the database backend [tinydb, mongo, sqlite]
database_backend = "tinydb"

# Base Directory, defaults to directory of maverick_api.py script if not set or None
# basedir = None

# Data Directory
datadir = '/srv/maverick/data/web/api/<%= @instance %>/'

# Turn on development options - Not safe for deployment
development = False

# Turn on debug mode
debug = False

# Log Directory
logdir = 'logs/'

# Interface to listen on: 0.0.0.0 represents all interfaces
server_interface = '0.0.0.0'

# Port to listen on
server_port = 6795

# List of modules to allow loading. Takes precedence over deny list
module_allow_list = []

# List of modules to deny loading
module_deny_list = ["mavros"]
