# URL prefix
app_prefix = 'maverick-api/'

# Secret Key - used to set secure cookie.  KEEP SECRET
app_secretkey = 'super_s3cret'

# Base Directory, defaults to directory of maverick_api.py script if not set or None
# basedir = None

# Turn on development options - Not safe for deployment
development = False

# Turn on debug mode
debug = False

# Log Directory
logdir = 'logs/'

# Interface to listen on: 0.0.0.0 represents all interfaces
server_interface = '0.0.0.0'

# Port to listen on
server_port = 6795
